Productivity_assistant/telegram.json
{
  "name": "mail, calendar, etc",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -144
      ],
      "id": "99897ebd-bc35-47fe-849c-290bafd140dd",
      "name": "Telegram Trigger",
      "webhookId": "ce46e5e1-39f7-47b5-908f-549e2c94ddf6",
      "credentials": {
        "telegramApi": {
          "id": "EqabWs61EgejuEGJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text  }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9ab7e8a2-4b39-417d-9423-ea8a006ca888"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a1288faf-32e3-4545-bd39-c7884a9c391a",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -448,
        -144
      ],
      "id": "6f36b1dc-7d0b-4247-b03a-5bdecc0dbaa9",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8dc4cc01-f6ed-4d14-b1db-bb0ec2ed302d",
              "name": "text",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -240
      ],
      "id": "c9f30a34-dd56-42e5-b9c9-755a362cd5c1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Role\nYou are an assistant with access to multiple tools.\n\n# Behavior\nYou respond concisely and succinctly in a friendly and approachable style.\n\n# Date and Time:\n{{ $now }}\n\n# Tools\nYou have access to multiple tools and always use the appropriate one depending on the task.\n\n## Gmail_Summary\nUse this tool to summarize emails.\n\n## Gmail_Send\nUse this tool to send emails. You sign every email with \"Arnie\" and never use empty placeholders for names. I\nEnsure that emails are well-formatted with a proper body.\n\n## Calendar_Set\nUse this tool to schedule appointments in the calendar.\n\n##Calendar_Get\nUse this tool to find calendar events and inform me when I have an appointment."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -240
      ],
      "id": "04cd1083-370d-4b4e-ab59-44d25e797ee2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        16
      ],
      "id": "0aea253d-fe28-48fb-b305-5b0f89c90692",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "K98cAVWqGIEGydeI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "=[]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        -48
      ],
      "id": "2bdd9e2b-061b-4ffb-a289-3a45965a4941",
      "name": "Get a file",
      "webhookId": "dd2d79f8-df36-436e-97f9-4e099d149eef",
      "credentials": {
        "telegramApi": {
          "id": "EqabWs61EgejuEGJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        -48
      ],
      "id": "14e0e658-5b8d-4878-b524-632f11e3d21f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "K98cAVWqGIEGydeI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        176
      ],
      "id": "95610ce1-0e17-4a1a-9c49-51e636503cfd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "=[]",
        "text": "=[]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -240
      ],
      "id": "c6dec740-d2d6-42ba-9d4f-bc1129d3d671",
      "name": "Send a text message",
      "webhookId": "7ef33d4a-a9ec-46c4-9021-c06b8f09ecf8",
      "credentials": {
        "telegramApi": {
          "id": "EqabWs61EgejuEGJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        384,
        -32
      ],
      "id": "ad05612f-1cc7-40a4-9524-1a012cfb253c",
      "name": "Gmail_Summary",
      "webhookId": "209f5241-12f3-4e6c-b9f1-57ea082aff8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "PG76kbpYLSzlilNH",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        480,
        64
      ],
      "id": "ea0a52d0-4499-40e9-8f38-0a2f9de1ce5e",
      "name": "Send a message in Gmail",
      "webhookId": "45dafeda-eff4-4421-83aa-e974db4fc81a",
      "credentials": {
        "gmailOAuth2": {
          "id": "PG76kbpYLSzlilNH",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=[]",
          "mode": "id"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        576,
        160
      ],
      "id": "3087a144-fa55-4472-a513-316755126029",
      "name": "Calendar_Set",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QXJfmO0WyLlUssrF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        672,
        256
      ],
      "id": "45b36d83-5e25-4f4e-aef4-109aa46566fe",
      "name": "Calendar_Get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QXJfmO0WyLlUssrF",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Summary": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar_Set": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar_Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ca191d23-ebfc-47e9-ac22-a488bc6615e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5409e651d42f3918aae4f6607c5db8b251b7ecff1bab3e362064ba8a3e03fb3"
  },
  "id": "wa0yaRd6kyBrGGt6HwIdY",
  "tags": []
}