whatsappAI_assistant/assistant.json
{
  "name": "Integraring AI to whatsapp",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -160
      ],
      "id": "96e8aeca-90fb-4d81-ad6d-bdb289a432c3",
      "name": "WhatsApp Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}\n",
        "options": {
          "systemMessage": "=**Role**\nYou are a **personal assistant** designed to help users manage tasks efficiently.\n## **Capabilities**\nYou have access to the following tools:\n**Send_Mail** Use this tool to send well-formatted emails with a proper greeting\nand closing.\n**Wikipedia** Use this tool to look up general knowledge and factual information.\n## **Behavior**\nYou respond **clearly, concisely, and professionally**, while maintaining a friendly tone.\nWhen sending emails, ensure they are **well-structured and polite**.\n-If a user asks a factual question, check **Wikipedia** before responding.\nIf a request is unclear, ask for clarification before proceeding.\n## **Restrictions**\n- Only use **Send_Mail** for sending emails, not for internal communication.\nDo not generate responses based on assumptions; always verify with Wikipedia when relevant.\n\n## time and date: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -192,
        -160
      ],
      "id": "0a39b0e6-e8cc-44a8-b270-24d2635b5038",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -336,
        48
      ],
      "id": "3424414f-f78e-4240-ae85-6f61d9e6550c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= {{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }} "
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        48
      ],
      "id": "20f869e2-b18e-4378-8a6b-fda662d12a21",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1032725669913950",
        "recipientPhoneNumber": "+91 9140643445",
        "textBody": "success",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        160,
        -160
      ],
      "id": "9d2d00f9-d7cb-45e3-98f5-fbeb5707b499",
      "name": "Send message"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -48,
        48
      ],
      "id": "29d589cc-aa12-483d-a399-b8d970c2a9f9",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        48,
        144
      ],
      "id": "db0a2597-dcf5-4e64-a9b3-7a5678da0045",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        144,
        240
      ],
      "id": "f40d418b-2786-4016-b7b4-e17ed0b97e39",
      "name": "Send a message in Gmail"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "-mngmC7Y8Qo0LEm0gE7ow",
  "tags": []
}
