SponsorReply/reply.json
{
  "name": "Sponsor reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -224
      ],
      "id": "1efdd199-3a07-4df0-81d5-cf42502d9132",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f75a9bc3-b362-4134-8f45-1598a0cff68e",
              "name": "Email Context",
              "value": "=From  {{ $json.From }}  Subject: {{ $json.Subject }} Emailbody {{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -224
      ],
      "id": "f3b33d0a-469c-4803-9256-8c0ee0eba5ea",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Role:**\nYour task is to determine whether an email is related to a sponsorship deal or not. \n\nRespond with a JSON object containing the following fields: \n\n-**isSponsorship:** can be either \"true\" or \"false\".\n-**reasoning:** Explain your answer.\nThink step by step about your response.\n\n{{ $json['Email Context'] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        -224
      ],
      "id": "95cd664a-e8e6-45e8-8ae0-97ea7786f5c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        48
      ],
      "id": "93577bc7-4119-40de-881b-4c31cf0e5942",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"cities\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        48
      ],
      "id": "5e102b63-fbaa-46aa-90e4-be5bbde31c16",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2f306daf-7191-4439-b3a2-79d2f8eec1ff",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        -224
      ],
      "id": "1abd91e4-d349-4325-bd61-7f99cfe097f4",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        -32
      ],
      "id": "72599fe2-0f28-4b90-bab4-aaf65a8b2edf",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "**Role:**\nYou work for a YouTube channel called AI mit Arnie.\nYour task is to respond to sponsorship inquiries by drafting a reply email.\n\n**Task:**\nCarefully review the email context below and write a friendly and professional email.\nReturn only the email body in HTML format—do not include a header, only the body!\nThe email should include details about sponsorship costs and conditions.\n\n**Conditions:**\n\n### Sponsorship Terms for the YouTube Channel *AI mit Arnie*\nChannel Overview\n\n### **Channel Name:** AI mit Arnie\n\n**Subscribers:** 13,000+\n\n**Average Views per Video:** 2,000 – 10,000\n\n**Content Focus:** Artificial Intelligence\n\n### **Sponsorship Pricing**\n\nStandalone Video: €800 – €1,300\n\nIntegrated Sponsorship Mention (60 seconds): €600\n\n### **Additional Info**\n\n*AI mit Arnie* only accepts sponsors that make sense for its target audience. In general, the channel rejects anything that does not provide real value to viewers and does not promote products that the creator does not personally use."
            },
            {
              "content": "=Email Context: {{ $json.output }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        464,
        -256
      ],
      "id": "e33aed47-1289-4b36-9f81-2aa2cc9bb368",
      "name": "Message a model"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        -256
      ],
      "id": "fb87bfc0-3e56-442f-ba0d-45f08cfb12ba",
      "name": "Reply to a message"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {},
  "id": "Jrb3HodlE7NLvcrT6MF62",
  "tags": []
}
