TelegramChatbot/chatbot.json
{
  "name": "Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1472,
        -512
      ],
      "id": "97d768c4-cba9-430d-bedf-e60d0419e2cb",
      "name": "Telegram Trigger",
      "webhookId": "ff652268-cdec-4f55-bab2-02fcf762da72",
      "credentials": {
        "telegramApi": {
          "id": "EqabWs61EgejuEGJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant\n\n# you have tools:\n\n## search_agent\n\nuse this tool to search the web, hackernews and wikipedia"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1264,
        -512
      ],
      "id": "79d6da95-a4a4-4976-ad84-1a6dc08ca034",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1264,
        -320
      ],
      "id": "96dc3d16-57f5-4606-92b9-872ecdea8484",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "K98cAVWqGIEGydeI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "={{ $json.Output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        -512
      ],
      "id": "8052ba5f-97b8-48df-9963-a95f2844112a",
      "name": "Send a text message",
      "webhookId": "66635842-b75f-41a6-9e15-4b942b371ef9",
      "credentials": {
        "telegramApi": {
          "id": "EqabWs61EgejuEGJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1168,
        -208
      ],
      "id": "8f3a404d-14d2-4421-bfff-e80c1d5dcb30",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Use this tool to search the web, wikipedia, hackernews and up-to-date info.",
        "workflowId": {
          "__rl": true,
          "value": "JFi2YY2qA6Usg7k2x3see",
          "mode": "list",
          "cachedResultUrl": "/workflow/JFi2YY2qA6Usg7k2x3see",
          "cachedResultName": "Telegram1 sub"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1024,
        -256
      ],
      "id": "a100e300-6ee2-480e-8e9b-04fbf59d06cd",
      "name": "search_agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1120,
        -304
      ],
      "id": "5ecf336f-2cf8-47e4-b307-78289046cc48",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "search_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d165d4c8-e446-4f45-b575-499b86fa530b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5409e651d42f3918aae4f6607c5db8b251b7ecff1bab3e362064ba8a3e03fb3"
  },
  "id": "_vZmJLZOs_q3K6iUsg85w",
  "tags": []
}