Telegram_assistant/telegram.json
{
  "name": "Telegram3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        160
      ],
      "id": "232fd8b1-0df1-4547-8628-0dc31ef975ac",
      "name": "Telegram Trigger",
      "webhookId": "ce46e5e1-39f7-47b5-908f-549e2c94ddf6",
      "credentials": {
        "telegramApi": {
          "id": "EqabWs61EgejuEGJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text  }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9ab7e8a2-4b39-417d-9423-ea8a006ca888"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a1288faf-32e3-4545-bd39-c7884a9c391a",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -736,
        160
      ],
      "id": "a3109518-c8d3-4ef6-a6ca-86b1a0d04640",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8dc4cc01-f6ed-4d14-b1db-bb0ec2ed302d",
              "name": "text",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        64
      ],
      "id": "1cec57dc-344c-4802-9184-8e3c9de409d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Role\nYou are an assistant with access to multiple tools.\n\n# Behavior\nYou respond concisely and succinctly in a friendly and approachable style.\n\n# Date and Time:\n{{ $now }}\n\n# Tools\nYou have access to multiple tools and always use the appropriate one depending on the task.\n\n## Gmail_Tool\nUse this tool to every time you need to do something with emails. If you send mails you sign every email with \"Arnie\" and never use empty placeholders for names.\nEnsure that emails are well-formatted with a proper body.\n\n## Calendar_Tool\nUse this tool every time you need to do something with the calendar.\n\n## search_agent\nuse this tool to search the web, hackernews and wikipedia"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        64
      ],
      "id": "112cae77-a901-4648-b035-68d645d2bf20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -64,
        320
      ],
      "id": "ae65d925-6adb-4bd5-afe1-d82f5440b1cd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "K98cAVWqGIEGydeI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "{{json: id}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        256
      ],
      "id": "d7eceee5-7b66-4622-993e-510e0caf7760",
      "name": "Get a file",
      "webhookId": "dd2d79f8-df36-436e-97f9-4e099d149eef",
      "credentials": {
        "telegramApi": {
          "id": "EqabWs61EgejuEGJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -288,
        256
      ],
      "id": "458038a7-2987-4f28-a560-710f07ad84ab",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "K98cAVWqGIEGydeI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        480
      ],
      "id": "4c2b86f7-5f1f-41a0-ab18-7b70f5dd734c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "=json",
        "text": "json",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        64
      ],
      "id": "84907fcf-fd22-4034-99dc-51a6964e09f8",
      "name": "Send a text message",
      "webhookId": "7ef33d4a-a9ec-46c4-9021-c06b8f09ecf8",
      "credentials": {
        "telegramApi": {
          "id": "EqabWs61EgejuEGJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "use this tool to search the web, hackernews and wikipedia. ",
        "workflowId": {
          "__rl": true,
          "value": "JFi2YY2qA6Usg7k2x3see",
          "mode": "list",
          "cachedResultUrl": "/workflow/JFi2YY2qA6Usg7k2x3see",
          "cachedResultName": "Telegram1 sub"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        288,
        464
      ],
      "id": "8a5db4ca-3d4a-4e3a-98f8-be297b70160a",
      "name": "Call 'Telegram1 sub'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Telegram1 sub'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "850a4696-5130-494c-b16d-3a61f4279288",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5409e651d42f3918aae4f6607c5db8b251b7ecff1bab3e362064ba8a3e03fb3"
  },
  "id": "7ClWsGnBwBMr-flsQ6fSE",
  "tags": []
}